<!-- TODO: GET THIS RENDERING PROPERLY -->
<% i = 0 %>
<% for form_field in form_fields %>
  <% if i%2 == 0 %>
    <tr>
  <% end %>

  <td><%= check_box(:fields, form_field, {:checked => 'checked'}) %><%= form_field %></td>

  <% if i%2 == 1%>
    </tr>
  <% end %>
  <% i += 1%>
<% end %>