<h1>Select a Form to List</h1>

<% if !@form_names.nil? and @form_names.size > 0 %>
<% for form_name in @form_names %>
  <b><%= form_name %></b>
  <%= link_to 'List', :action =>'show_form', :name => form_name %>
  <%= link_to 'Export', :action => 'export_form', :name => form_name %>
  <br /><br />
<% end %>
<% else %>
<br/>
<h4>There are no forms created yet, you need to create a database form <%= link_to "page", :controller => 'page', :action => 'index' %> first.</h4>
<% end %>
<br/>

